body {
  height: 100vh;
  box-sizing: border-box;
}

.progressContainer {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.barContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bar {
  position: relative;
  border-radius: 20px;
  margin: 30px;
  width: 70%;
  height: 40px;
  background-color: #283b42;
  padding: 0;
}
.inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 60%;
  height: 40px;
  background-color: #1d6a96;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.progressContainer h5 {
  text-align: center;
}
span#left {
  color: #85b8cb;
  font-size: 30px;
}

/* -------------------------------- timeline -------------------------------- */
/* 
.timelineContainer .uk-timeline .uk-timeline-item .uk-card {
	max-height: 300px;
}

.timelineContainer .uk-timeline .uk-timeline-item {
    display: flex;
    position: relative;
}

.uk-timeline .uk-timeline-item::before {
    background: #dadee4;
    content: "";
    height: 100%;
    left: 19px;
    position: absolute;
    top: 20px;
    width: 2px;
		z-index: -1;
}

.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
		margin-top: 20px;
    width: 40px;
    height: 40px;
}

.uk-timeline .uk-timeline-item .uk-timeline-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 0 0 1rem;
} */